*{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
}

.carousel-item img {
  height: 500px;
  object-fit: cover;    
}

.icone-logo {
  height: clamp(100px, 10vw, 100px); 
  width: auto;
}

.icone-carrinho {
  height: clamp(36px, 6vw, 48px); 
  width: auto;
}

body{
    background-color: #E9E9E9;
}

.card-img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.divLogoFooter img {
  width: auto;
  display: block;
}

footer p, h5{
    color: #e24a0e;
}